body {
    background-color: #1C1C1C;
}
.loader {
    background-color: black;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .loader.hidden {
      animation: fadeOut 1s;
      animation-fill-mode: forwards;
  }
 @keyframes fadeOut {
     100% {
         opacity: 0;
         visibility: hidden;
     }
 }
 


p {
    font-family: 'Spartan', 'sans serif';
    font-size:calc(1px + 1.5vw);
    color: white;
}
a {
    font-family: Spectral;
    font-size: 2vw;
    color: white;
    text-decoration: none;
}
h4 {
    font-family: 'Spartan', sans-serif;
    font-size: 2.5vw;
    color: white;
}
h1 {
    font-family: 'Spectral', serif;
    font-size: 3vw;
}



li {
    font-family: Spectral;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 70px;
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    color: white;
}
li:hover {
    background-image: linear-gradient(to bottom, rgba(28, 28, 28, .8), rgba(0, 0, 0, 1));
}

.inline-block {
    display: inline-block;
    vertical-align: top;
}

.logo {
    width: 23%;
    text-align: left;
}
.navigation {
    box-shadow: black;
    text-shadow: black;
    height: 100px;
    display: flex;
    outline: solid black .5px;
    z-index: 98;
}
.quentin {
    box-shadow: black;
    text-shadow: black;
    width: 100%;
    height: 10vw;
    display: flex;
    background-color: #1c1c1c;
    border: solid black 1px;
    align-items: center;
}
a.footerLinks {
    font-family: 'Spartan', 'sans serif';
    font-size: 1.5vw;
}
.google {
    width: 30%;
    align-items: center;
    display: flex;
    margin-left: 30%;
}
.linkedin {
    display: flex;
    align-items: center;
    width: 30%;
}
.contactImg {
    width: auto;
}
.contact {
    display: inline-block;
    margin-top: 1%;
}

nav {
    width: 73%;
    padding: 1%;
}
ul {
    position: fixed;
    width: 70%;
    text-align: right;
}

#logo1 {
    width: 200px;
}
#hero {
    width: 100%;
}
#aboutMe {
    width: 100%;
}
#dogma {
    width: 100%;
}
#skills {
    width: 100%;
}
footer {
    background-color: #373738;
    text-align: center;
}
.resume {
    height: 100px;
    justify-content: center;
    display: flex;
    padding: 50px;
}
button {
    background-color: #FFD600;
    border: black;
    border-radius: 3px;
    color: black;
    position: absolute;
    width: 25vw;
    
    text-align: center; 
    align-items: center; 
    font-size: 1.8vw; 
    font-family: "Spartan";
    font-weight: bold;
}
.download {
    height: 8vh;
    min-height: 80px;
}
.viewP {
    max-height: 30px;
    margin: 1%;
    height: 10vh;
}
.mySkills {
    margin: 100px;
}

button:hover {
    background-color: #00AC5A;
    color: white;
}
@font-face {
    font-family: 'Spectral';
    src: url(fonts/Spectral/Spectral-Bold.tff);
}
@font-face {
    font-family: 'Spartan';
    src: url(fonts/Spartan/static/Spartan-Light.tff);
    font-style: normal;
    font-weight: 300;
}

/* My Work Section Constructed using CSS Grid */
.workHeader {
    color: white;
    font-family: Spectral;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    display: flex;
    align-items: center;
    margin-left: 15%;
}
.backdrop {
    background: #252525;
    width: 70vw;
    height: 15%;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 1%;
    margin-bottom: 2%;
    padding-left: 1%;
    padding-right: 1%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "img header"
    "img body"
    "img button";
}


.csBody {
    display: flex;
    height: auto;
    align-items: center;
    font-family: 'Spartan', sans-serif;
    font-style: normal;
    font-weight: 300;
    grid-area: body;
    margin-left: 1vw;
    margin-bottom: 5vh;
}
.csHeader {
    height: 10%;
    margin-left: 1vw;
    margin-top: 5vh;
    font-family: 'Spartan', sans-serif;
    font-style: normal;
    font-weight: bold;
    display: flex;
    align-items: center;
    grid-area: header;
}
.csButton {
    margin-left: 1vw;
    margin-top: 1vh;
    display: flex;
    align-items: center;

    margin-bottom: 2vh;
    grid-area: button;

}
.csButton > button {
    width: 15vw;
    height: 10vw;
    max-height: 50px;
}
.logoImg{
    grid-area: img;
    width: auto;
    margin: auto;
    padding: 1vw;
}
.responsive {
    width: 100%;
    height: auto;
}
button.responsive {
    height: fit-content;
    line-height: 110%;
    margin-bottom: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    justify-content: center;
}

@media (max-width: 600){
    .backdrop {
        flex-direction: column;
        grid-template-rows: auto auto auto auto;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "img"
        "header"
        "body"
        "button"; 
    }
    
}



* {
    scroll-behavior: smooth;
}